doctype html
html(lang="en")
    include head.pug
    body
        div.container
            h1 MachineGaming
            if currentGame != "-"
                h2(id="ctask") Current Task: #{currentGame} ( #{remainingCycles} generation(s) remaining )
            else
                h2 Current Task: None
            form(action="/work" method='POST')
                div.form-group
                    label(for="tgame") Game:
                    select.form-control.custom-select(name="tgame" id="tgame" onchange="refreshForm()" disabled=currentGame != "-")
                        each game in games
                            option(value=`${game.id}`) #{game.name}
                    label(for="tnet") Network type:
                    select.form-control.custom-select(name="tnet" id="tnet" onchange="refreshForm()" disabled=currentGame != "-")
                        option(value='1' selected=currentType == 1) Multilayer Perceptron
                        option(value='2' selected=currentType == 2) NEAT
                    label(for="ttopo") Network Topology:
                    select.form-control.custom-select(name="ttopo" id="ttopo" disabled=currentGame != "-")
                        each topo, index in topologies
                            - let hiddens = "";
                            - let val = topo.gameId * 10000 + topo.netType * 1000 + index;
                            - for (var i in topo.netMetadata.hLayers) {
                            -    hiddens += topo.netMetadata.hLayers[i]+" "
                            - }
                            option(value=`${val}` selected=val == currentTopo) #{topo.netMetadata.inputCount} Inputs, #{topo.netMetadata.outputCount} Outputs, #{topo.netMetadata.hLayerCount} Hidden Layers ( #{hiddens}) 
                div.form-group
                    - let text = currentGame == "-" ? "Lock" : "Unlock";
                    input.btn.btn-outline-primary(type="submit" name="lock" value=`${text}`)
                    button.btn.btn-outline-secondary(type="button" disabled=currentGame != "-" data-toggle="modal" data-target="#loadpopmodal") Load Population
                    input.btn.btn-outline-success(type="submit" name="save" value="Save Population" disabled=currentGame == "-")
                    input.btn.btn-danger(type="submit" name="regen" value="Regen Inital Population" disabled=currentGame == "-")
            hr
            form(action="/task" method='POST')
                div.form-group
                    - var disabled = remainingCycles > 0;
                    input.btn.btn-light(class="gen" type="submit" value="Do 1 Gen" name="onegen" disabled=disabled)
                    input.btn.btn-light(class="gen" type="submit" value="Do 100 Gen" name="hungen" disabled=disabled)
                    input.btn.btn-light(class="gen" type="submit" value="Do Infinite Gen" name="infgen" disabled=disabled)
                    input.btn.btn-warning(class="pause" type="submit" value="Pause" name="pause" disabled=(remainingCycles <= 1))
            hr
            h2 Workers
            div(id="wdiv" style="max-height: 330px; overflow-y: scroll;")
                - var index = 0;
                each w in workers
                    if index % 3 == 0
                        if index != 0
                            | </div>
                        | <div class="card-deck" style="width: 100%;">
                    div.card.w-75(style="max-width: 30%")
                        div.card-body
                            h5.card-title #{w.name} (#{index})
                            p.card-text #{w.status}
                            a(class="btn btn-danger") Kick
                    - index++
                if index > 0
                    | </div>
                else
                    p(style="color: red") No Workers
            hr
            h2 Evolution summary
            hr
            h2 Graphs
            canvas(id="canvasFitness" style="width: 100%; height: 720px;")
            canvas(id="canvasFitness2" style="width: 100%; height: 720px;")
                
            
        div.modal(tabindex="-1" role="dialog" id="loadpopmodal")
            div.modal-dialog(role="document")
                div.modal-content
                    div.modal-header
                        h5.modal-title Load previous batch
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    div.modal-body
                        form(action="/work" method="POST") 
                            label(for="lbatch") Batch:
                            select.form-control.custom-select(name="lbatch" id="lbatch")
                                each save in saves
                                    option(value=`${save.batchId}`) #{save.batchId}
                            hr
                            button(type="submit" name="load" class="btn btn-primary") Load batch
                            button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        script(type="text/javascript" src="/scripts/autorefresh.js")
        script(type="text/javascript" src="/scripts/chart.js")
        script(type="text/javascript" src="/scripts/taskform.js")
                
                
